<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.niwj.graduationproject">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- 发短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!--震动的权限-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--mob-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--Bugly应用升级-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REMOVED"/>
    <uses-permission android:name="android.permission.BROADCAST_SMS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--人脸识别-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GuideActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:screenOrientation="landscape" />-->

        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ManageActivity"
            android:label="@string/app_name"/>
        <activity android:name=".UserActivity"
            android:label="@string/app_name"/>
        <activity android:name=".activity.PhyExaDetailActivity" />
        <activity android:name=".imageselector.ImageSelectorActivity" />
        <activity android:name=".activity.PhysicalrecordActivity"/>

        <!-- 裁剪图片的库 -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.NotificationActivity" />

        <!--mob-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <meta-data
            android:name="Mob-AppKey"
            android:value="2064178124118" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="fc8191fe576bbacd13f888d38a3489c9" />

        <!--隐私密码-->
        <activity android:name=".activity.PrivateActivity" />
        <activity android:name=".activity.ConfirmPrivateActivity" />
        <activity android:name=".activity.OpenActivity" />
        <activity android:name=".activity.ClosePrivateActivity" />
        <!--设置中心-->
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.TermServiceActivity"/>

        <!--修改密码-->
        <activity android:name=".activity.ChangePwdActivity"/>


        <!--Bugly应用升级-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <!--注意：如果您想兼容Android N或者以上的设备，必须要在AndroidManifest.xml文件中配置FileProvider来访问共享路径的文件。-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name=".server.JpushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--  Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <!-- Required 用户接收SDK消息的intent  -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.niwj.graduationproject" />
            </intent-filter>
        </receiver>


        <activity android:name=".BaseActivity"/>

        <activity android:name=".activity.FaceRecognitionActivity"/>
        <activity android:name=".activity.OpenFaceActivity"/>

    </application>

</manifest>